extends ../partials/_layout

block content
  section#news
    .container
      .row#news-wrapper
        //- .col-xs-12
        //-   header.major.text-center
        //-     h2 最新消息
        .news-container
          span 讀取資料中…

block js
  script(src='./js/news.min.js')
  script.
    setTimeout(function(){
      document.querySelectorAll('#navbar ul li')[2].classList.add('active');
    }, 0);
