extends ./partials/_layout

block content
  //- Header
  section#header
    .container
      .title.row
        .jsdc-full-name.col-md-6
          span 2018
          span JavaScript Developer
          span Conference
          br
          span 2018.11.17
          span 富邦國際會議中心
          span 台北市松山區敦化南路一段108號
        .logo.col-md-6
          img(src='./images/official/main_visual.png')
      .clearfix

  //- section#ticket
  //-   .container
  //-     .row
  //-       .col-md-12
  //-         header.text-center
  //-           h2 售票資訊
  //-     .ticket-container.row
  //-       .ticket-info.col-md-6
  //-         .ticket-1
  //-           h3 JSDC 2018 學生票
  //-           .ticket-price
  //-             | TWD 3,950
  //-           a.ticket-booking(href="https://kktix.com/events/jsdc2018/registrations/new", target="_blank")
  //-             | BOOK NOW
  //-       .ticket-info.col-md-6
  //-         .ticket-1
  //-           h3 JSDC 2018 早鳥票
  //-           .ticket-price
  //-             | TWD 3,950
  //-           a.ticket-booking(href="https://kktix.com/events/jsdc2018/registrations/new", target="_blank")
  //-             | BOOK NOW
  //-     .ticket-container.row
  //-       .ticket-info.col-md-6
  //-         .ticket-1
  //-           h3 JSDC 2018 一般票
  //-           .ticket-price
  //-             | TWD 3,950
  //-           a.ticket-booking(href="https://kktix.com/events/jsdc2018/registrations/new", target="_blank")
  //-             | BOOK NOW
  //-       .ticket-info.col-md-6
  //-         .ticket-1
  //-           h3 JSDC 2018 團報票
  //-           .ticket-price
  //-             | TWD 3,950
  //-           a.ticket-booking(href="https://kktix.com/events/jsdc2018/registrations/new", target="_blank")
  //-             | BOOK NOW

  br
  br
  section#header(style="background-image: none")
    .container
      .count-down.row
        //- .content.col-md-12
          //- | countdown ticket
        .clearfix
        .time-content
          .date
            .num
            .num
          span.flag D
          .hours
            .num
            .num
          span.flag H
          .minutes
            .num
            .num
          span.flag M
          .seconds
            .num
            .num
          span.flag S
      br
      br

  //- section#reciprocal
  //-   ul#time
  //-     each val in [1, 2, 3, 4, 5, 6, 7, 8]
  //-       li
  //-         div.num_img
  //-           img(src="images/number/0.png", alt="")
  //-           img(src="images/number/0.png", alt="")
block js
  script(src='./js/index.min.js')
  script.
    setTimeout(function(){
      document.querySelectorAll('#navbar ul li')[0].classList.add('active');
    }, 0);
