-
  //- name: 講者名字, description: 作者介紹, image: 照片
  // ## option ##
  //- company: 公司/組織
  //- 額外連結們: github, twitter, link, linkedin

  var speakers = {

    RyanDahl: {
      name: 'Ryan Dahl',
      isKeynote: true,
      company: 'Independent',
      description: 'I am a software engineer from NYC. I am best known for my work on the Node.js project, which I created and project managed for its first several years. I am generally interested in server software, usability of low-level tooling but also computer vision and mathematics. I talk about my background a bit more in a [2017 podcast](https://mappingthejourney.com/single-post/2017/08/31/episode-8-interview-with-ryan-dahl-creator-of-nodejs/).',
      image: 'RyanDahl_2018.jpg',
      agenda: {
        title: 'Deno, A New Server-Side Runtime',
        levels: [],
        lang: 'EN',
        type: '',
        youtube: '',
        slide: '',
        outline_E: '',
        outline: 'Deno is a new native code JS runtime that aims to modernize and correct some design mistakes in Node. It has a built-in module system which uses URLs to import external modules. Deno conditionally allows access to various system resources - like writing to the disk or accessing the network - allowing some code to be run in a secure sandbox. Deno is a modern take on the server-side JavaScript idea: it is built in Rust instead of C++, uses Tokio instead of libuv for an event loop, and has the TypeScript compiler built-in.'
      },
      links: {
        github: 'http://github.com/ry'
      }
    },
    SamuelFurter: {
      name: 'Samuel Furter',
      isKeynote: false,
      company: 'Ethereum Foundation',
      description: 'I\'m the web3.js maintainer and a passionated web developer how started programming with nine years. In my free time I\'m participate in GameJams and other hackathons in europe and also working on harbourproject.io an opensource governance protocol on the ethereum blockchain. Coffee to code is my life style.',
      image: 'SamuelFurter_2018.jpg',
      agenda: {
        title: 'Web3.js - Getting started with the development of an Dapp',
        levels: [],
        lang: 'EN',
        type: '',
        youtube: '',
        slide: '',
        outline_E: '',
        outline: 'Introducing Web3.js and a live coding session of an DApp.'
      },
      links: {
        github: 'https://github.com/nivida'
      }
    },
    RubenTan: {
      name: 'Ruben Tan',
      isKeynote: false,
      company: 'neuroware',
      description: '',
      image: '../jsdc-mascot-150.jpg',
      agenda: {
        title: '',
        levels: [],
        lang: 'EN',
        type: '',
        youtube: '',
        slide: '',
        outline: '',
        outline_E: ''
      },
      links: {
        github: 'https://github.com/soggie'
      }
    },
    KKBOX: {
      name: 'Vincent Chiang',
      isKeynote: false,
      company: 'KKBOX',
      description: 'Vincent is a Developer Advocate at KKBOX Inc. Engage potential partners and developers to integrate KKBOX music services. Promote KKBOX Open API by developing showcases, writing articles, and be a lecturer at conferences and meetups in many times.',
      image: 'VincentChiang_2018.JPG',
      agenda: {
        title: 'From KKBOX Open API to JavaScript SDK',
        levels: [],
        lang: 'EN',
        type: '',
        youtube: '',
        slide: '',
        outline_E: '',
        outline: 'If you already have APIs, how to package it into a SDK for release? This agenda will mainly focus on the following points: ・Principles of SDK architecture ・JavaScript coding style ・Document writing ・Ways to promote your API and SDK to community developers'
      },
      links: {
        github: 'https://github.com/sky790312'
      }
    },
    WilliamChou: {
      name: 'William Chou',
      isKeynote: false,
      company: 'Google',
      description: 'Software Engineer at Google',
      image: 'WilliamChou_2018.jpg',
      agenda: {
        title: 'AMP and Multithreaded JS',
        levels: [],
        lang: 'EN',
        type: '',
        youtube: '',
        slide: '',
        outline: 'A recap on Accelerated Mobile Pages (AMP) from three years ago to today and how it\'s promoting multithreading in web development.',
        outline_E: ''
      },
      links: {
        github: 'https://github.com/choumx'
      }
    },
    DavidNg: {
      name: 'David Ng',
      isKeynote: false,
      company: 'Likecoin',
      description: 'David Ng是LikeCoin的全端工程師，擅長前端，熟悉React.js、Vue.js，熱愛網頁動態互動設計 及開發，現試著挑戰區塊鏈相關的技術開發。',
      image: 'DavidNg_2018.jpg',
      agenda: {
        title: '初嘗去中化應用 - Web3.js入門',
        levels: [],
        lang: 'CH',
        type: '',
        youtube: '',
        slide: '',
        outline: '1.以太坊及智能合約簡介 2.什麼是去中化應用 3.去中心化應用與傳統應用比較 4.Live Demo',
        outline_E: ''
      },
      links: {
        github: 'https://github.com/sky790312'
      }
    },
    W: {
      name: '黃保翕Will',
      isKeynote: false,
      company: '多奇數位創意有限公司',
      description: '現任多奇數位創意有限公司技術總監，連續 10 度當選微軟最有價值專家(MVP) ，熟悉各式 Web 前後端開發技術，出版著作有 ASP.NET MVC 2 開發實戰、Windows Phone 開發實戰、ASP.NET MVC 4 開發實戰等書籍。曾獲選2013第6屆iT邦幫忙鐵人賽年度大獎。',
      image: 'will.jpg',
      agenda: {
        title: '體驗 Angular 7 極速開發 (Workshop)',
        levels: [],
        lang: 'CH',
        type: '',
        youtube: '',
        slide: '',
        outline: '',
        outline_E: ''
      },
      links: {
        github: 'https://github.com/doggy8088/',
        twitter: 'https://twitter.com/Will_Huang'
      }
    },
    TracyLee: {
      name: 'Tracy Lee',
      isKeynote: false,
      company: 'This Dot, Inc',
      description: 'Tracy is a Google Developer Expert, RxJS Core Team member, a Women Techmakers Lead, and a frequent keynote speaker at conferences. She heads up Community Relations at Node Foundation, is the host of the Modern Web podcast, organizer of This.JavaScript, Contributor Days, Google Developer Group Silicon Valley and Triangle, and RxWorkshop. She is also Co-Founder of This Dot Labs, an elite consultancy helping teams build front end applications. You can find her on Twitter @ladyleet or at http://thisdot.co/labs.',
      image: 'TracyLee_2018.jpg',
      agenda: {
        title: 'How Reactive Programming makes developer lives easier.',
        levels: [],
        lang: 'EN',
        type: '',
        youtube: '',
        slide: '',
        outline: 'Reactive programming paradigms are all around us. So why does is it awesome? We\'ll explore reactive programming in standards, frameworks and libraries and talk about how to think reactively. Then we\'ll take a more practical approach and talk about how to utilize reactive programming patterns with an abstraction like RxJS, a domain specific language for reacting to events and how using this abstraction can make your development life much easier in Angular.',
        outline_E: ''
      },
      links: {
        github: 'https://github.com/sky790312'
      }
    },
    Ledbest: {
      name: 'Mar Huang',
      isKeynote: false,
      company: 'Leadbest',
      description: 'LEADBEST 資深技術經理, 前台灣電商 friDay 購物前端負責人致力於前端開發與跨平台整合, 擁有多年 Mobile Web / Desktop Web / SPA 等前端開發經驗 LEADBEST 為區塊鏈一級市場的一站式投資金融管理平台',
      image: '../jsdc-mascot-150.jpg',
      agenda: {
        title: '跨平台相容性解決方案',
        levels: [],
        lang: 'CH',
        type: '',
        youtube: '',
        slide: '',
        outline: '傳統開發網頁需要處理不同瀏覽器相容性，在區塊鏈的世界除了瀏覽器外還需處理錢包的相容性 LEADBEST 為早期踏入 Dapp 開發團隊，從剛開始支持熱門錢包外為了讓更多使用者使用陸續踩到不同錢包的技術問題，因此設計了一套跨錢包 Dapp 瀏覽器相容性解決方案',
        outline_E: ''
      },
      links: {
        github: 'https://github.com/sky790312'
      }
    }
  };

  var agendaLevel = {
    none: '不拘',
    beginner: '初階',
    intermediate: '中階',
    advanced: '高階'
  };
  var languages = {
    CH: '中',
    EN: '英'
  };

  var agenda = {
    '11/17(六)': [
      {time: '08:30 ~ 09:20', list: {
        all: {name: '會眾報到', speaker: ''},
      }},
      {time: '09:20 ~ 09:30', list: {
        all: {name: '大會開場', speaker: ''},
      }},
      {time: '09:30 ~ 10:20', list: {
        101: {name: '', speaker: 'RyanDahl'},
      }},
      {time: '10:20 ~ 10:30', list: {
        all: {name: '休息', speaker: ''},
      }},
      {time: '10:30 ~ 11:10', list: {
        101: {name: '', speaker: 'TracyLee'},
      }},
      {time: '11:10 ~ 11:30', list: {
        101: {name: '休息', speaker: ''},
      }},
      {time: '11:30 ~ 12:10', list: {
        101: {name: '', speaker: 'DavidNg'},
        201: {name: '', speaker: 'KKBOX'},
      }},
      {time: '12:10 ~ 13:10', list: {
        all: {name: '午餐', speaker: ''},
      }},
      {time: '13:10 ~ 14:00', list: {
        101: {name: '', speaker: 'WilliamChou'},
      }},
      {time: '14:00 ~ 14:10', list: {
        all: {name: '休息', speaker: ''},
      }},
      {time: '14:10 ~ 14:50', list: {
        101: {name: '', speaker: 'RubenTan'},
        201: {name: '', speaker: 'W'},
      }},
      {time: '14:50 ~ 15:00', list: {
        101: {name: '休息', speaker: ''},
        201: {name: '', speaker: 'W'},
      }},
      {time: '15:00 ~ 15:40', list: {
        101: {name: '', speaker: ''},
        201: {name: '', speaker: 'W'},
      }},
      {time: '15:40 ~ 16:00', list: {
        all: {name: '下午茶', speaker: ''},
      }},
      {time: '16:00 ~ 16:40', list: {
        101: {name: '', speaker: 'SamuelFurter'},
      }},
      {time: '16:40 ~ 17:00', list: {
        all: {name: '散場', speaker: ''},
      }},
    ],
  };

  var sponsors = {
    'titanium': [

    ],
    'platinum': [
      {company: '一零四資訊科技股份有限公司', logo: './images/sponsors/104.png', description: '104人力銀行成立於1996年，2006年以「一零四資訊科技股份有限公司」於台灣證券交易所掛牌，成為台灣第一家上市的網路公司，穩居台灣流量最多的人力資源服務網站，2007年進入大陸市場，持續以成為華人地區人力資源領導品牌為使命。職涯使命，期待壯有所用，對求職者「不只找工作，幫你找方向」，對企業「不只找人才，為你管理人才」；銀髮使命，期待老有所終，發揮健康長者的價值，照顧失能長者的尊嚴；孩子使命，期待幼有所長，幫每一個孩子找到天份。全集團追求產業創新，以C.M.O.S.四大核心概念（cloud雲端、mobile行動、open開放、social社群）提供多元職涯服務及人才管理解決方案，包括網路求職、職涯社群、職涯競爭力、高階獵才、企業大師、人資管理系統、測驗評量、人資顧問諮詢等，2014年成立社會企業處，提供夢想搖籃、工作世界、兒童美術館等社會創新服務，2015年成立銀髮事業處建構中高齡照護資源平台，完善企業社會責任。如需進一步資料，請上104企業網站：corp.104.com.tw。', link: "https://corp.104.com.tw/"},
    ],
    'gold': [
      {company: '狄卡科技股份有限公司', logo: './images/sponsors/dcard.png', description: 'Dcard 是一支致力於讓分享更自由，讓資訊流動更美好的國際團隊。我們提供的社群服務，擁有每個月超越八百萬的不重複訪客，與雙位數的月成長曲線。在學生族群有極高的滲透率，以及超越 Line、Facebook 的黏著時間；在各大媒體有高量的曝光和影響力。\n\nDcard 於 2011 年由台灣大學學生打造。起初只有抽卡的功能，讓各校生在午夜 12 點抽卡配對；後來加入論壇功能，讓使用者能以全匿名的方式在平台上面討論各種話題，至今演變成擁有百萬量級註冊用戶的社群平台。\n\n我們的團隊雖然年輕，但深藏不漏，有 Github 上一萬八千顆星的大大、國家樂廳常駐二胡大師、還有體重調節師！我們希望創造一個好玩有趣，充滿實驗精神的工作環境，每個角落也永遠有新奇的事在發生。未來我們希望持續為這個社會創造價值及可能性，或許是讓每個人都有話語影響力，亦或是讓每個人能自在的交友，甚至是許多許多現在無法想像的可能性。', link: "https://www.dcard.tw"},
      {company: '趨勢科技股份有限公司', logo: './images/sponsors/trend_micro.png', description: '你認識趨勢科技嗎? 你認識的趨勢科技是什麼樣貌? 趨勢科技有什麼過人之處，讓FBI自動找上門？讓世界最大跨國警察組織-國際刑警組織(Interpol)搶著跟它合作？ 讓全球50大企業中的48家企業都成為它的忠實客戶? 還讓國內外知名大學拿它當課堂研究案例?現在就來探索你所不知道的趨勢科技：https://careers.trendmicro.tw/ \n\n趨勢科技小檔案：\n\n趨勢科技是全球雲端資安領航者，是亞洲與台灣最大的純軟體公司，致力於實現更安全的數位世界。企業版圖橫跨全球五大洲，全球研發基地在台灣。趨勢科技在台灣的全球研發組織完整且多元，共有超過1,000位以上的工程師，負責研發全球超過3千萬名企業、家庭與個人用戶使用的最新及最完整的資訊安全核心技術及產品。另外，趨勢科技在全球的專利申請數上看數百個，其中1/3以上是由台灣同仁提出，顯示台灣研發團隊不僅技術功力深厚，創新動能亦強！', link: "http://www.trendmicro.tw/"},
      {company: '香港商高創動訊有限公司', logo: './images/sponsors/goanimate.png', description: 'GoAnimate 是一個網上動畫視頻製作平台。我們的使命是希望能讓世界各地的企業，學校和一般人都可以又容易又快速地製作出專業的動畫視頻。\n\n我們的網上平台擁有超過850萬個用戶，商業及個人客戶透過做出高成效,具衝擊力的動畫視頻, 滿足他們各種信息傳播的需要。現今經已有超過2200萬條動畫視頻是使用我們技術製作的。', link: "https://goanimate.com/"},
    ],
    'silver': [
      {company: '電子豹', logo: './images/sponsors/news_leopard.svg', description: '電子豹是台灣最大的電子報發報平台，成功協助超過 10,000 間國內外企業、知名電商、國際協會等組織解決開信率低落的問題。我們致力於整合世界級先進技術，打造一個不需技術人員，也能輕鬆使用的電子報發送平台，協助企業「在對的時間，將對的內容，寄給對的人」！我們定期觀察並分析收件者的行為，透過後台醫師式主動診斷系統，提高電子報到達率、開信率進而提升會員的回購率及品牌忠誠度。電子豹不只是最佳發送平台，更是優化企業級電子報開信率的專家。', link: "http://www.newsleopard.com/"},
    ],
    'special': [
      // {company: 'EXMA-Square', logo: './images/sponsors/exma-square.png', description: '', link: "http://picklete.com/"},
      {company: 'Pinkoi', logo: './images/sponsors/pinkoi.png', description: 'Pinkoi 是亞洲領先的設計商品購物網站，擁有眾多海內外優質設計師群，堅持用好品味、客製化的獨特設計，實現每個人的美感生活，也讓每個送禮時刻更加獨一無二。\n\n2011 年 8 月成立至今，致力於經營台灣、日本、泰國、中港澳、美加及其他國際市場，期望讓亞洲迷人的好設計在全世界散發光芒，並創造一個讓生活更美好的設計生態圈。', style: "height:189px;line-height:189px;", link: "https://www.pinkoi.com/"},
      {company: 'Carousell', logo: './images/sponsors/carousell.png', description: 'Carousell 旋轉拍賣為社群拍賣平台，2012 年在新加坡上線後，已拓展至台灣、香港、印尼、馬來西亞、菲律賓、澳洲等國家。現有超過 6,500 萬件刊登商品，為全球成長最快及最大的行動拍賣平台之一，在新加坡、台灣與香港均於手機購物應用程式排名中名列前茅。', style: "height:189px;line-height:189px;", link: "https://tw.carousell.com/"},
      // {company: 'KKTIX活動報名售票平台', logo: './images/sponsors/kktix.png', description: '', style: "height:189px;line-height:189px;"},
    ]
  };
  var tranformName = {
    'titanium': {name: '鑽石級', col: 12},
    'platinum': {name: '鉑金級', col: 6},
    'gold': {name: '金級', col: 4},
    'silver': {name: '銀級', col: 3},
    'special': {name: '特別感謝', col: 2},
  };
